.app {
  min-height: 100vh;
}

.main-content {
  width: 100%;
}

/*#region Navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 2rem;
  background-color: #4a4a4a;
}

.navbar-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: orange;
}

.navbar a.active {
  color: orange;
  font-weight: 700;
}
/*#endregion*/

/*#region Hero*/
.hero-section {
  min-height: 100vh;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  padding: 2rem;
}

.hero-buttons {
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.button-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
/*#endregion */
